.ButtonLearn {
  display: flex;
width: 274px;
height: 44px;
padding: 12px 99px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 12px;
background: #ed9bb7;
transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: 0;
}  
.ButtonLearn:hover,
      .ButtonLearn:focus {
        background-color: white;
        color: #ed9bb7
      }    