.Header {
  display: flex;
  padding: 8px 0;
  margin-bottom: 16px;
  background-color: #ed9bb7;
  border-bottom: 1px solid black;
}
.Nav {
  display: flex;
  list-style: none;
  gap: 22px;
}
.HomeLink {
  text-decoration: none;
  flex-grow: 1;
  font-weight: 900;
  line-height: 24px;

  color: white;
}
