.Header{
        display: flex;
        padding: 8px 0;
        margin-bottom: 16px;
        background-color: #ed9bb7;
        border-bottom: 1px solid black;      
}
.Nav{
        display: flex;
        list-style: none;
        gap: 22px;
        
}
.HomeLink{
        color: #ed9bb7;;
        outline: none;
        font-family: Manrope;
        font-size: 22px;
}