.Header{
        display: flex;
        /* align-items: center;
        justify-content: space-between; */
        padding: 8px 0;
        margin-bottom: 16px;
        border-bottom: 1px solid black;      
}
.Nav{
        display: flex;
        list-style: none;
        gap: 12px;
        
}
.HomeLink{
        outline: none;
}