


.ImageGallery {
        display: grid;
        max-width: 1184px;
        grid-template-columns: repeat(auto-fill, 274px);
        grid-gap: 29px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
      }